<table class="table table-striped" id="userdata" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<!-- your.component.html -->
<button class="btn btn-primary btn-sm mr-2 ml-2" (click)="generatePdf()">Generate PDF</button>
<button class="btn btn-primary btn-sm mr-2" (click)="downloadPdf()">Download PDF</button>
<button class="btn btn-primary btn-sm mr-2" (click)="printPdf()">Print PDF</button>
